In [1]:
import pandas as pd

In [16]:
pd.set_option('display.max_columns', None)

In [18]:
utah_df=pd.read_csv('utah-census-1880.csv')

In [62]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

In [64]:
utah_df.sample(12)

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
41772,0489B_20_ALEXANDER_8,0489B,20,8192,Deseret Precinct,MILLARD,42,44,ALEXANDER,JAMES,A,1,m,8.0,0,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
137101,0480C_16_MESSERVY_5,0480C,16,25600,Plain City and Precinct,WEBER,115,115,MESSERVY,CLARA,A,1,f,5.0,0,daughter,NaN,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
33994,0392B_25_SCHRODER_42,0392B,25,6144,"""Nephi, Nephi Precinct""",JUAB,160,164,SCHRODER,T,G,1,m,42.0,0,NaN,m,n,CABINET MAKER,13.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
86385,0034B_41_WOODARD_18,0034B,41,18688,Kamas Precinct,SUMMIT,92,92,WOODARD,JEDEDIAH,NaN,1,m,18.0,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,UTAH,MASSACHUSETTS,PENNSYLVANIA
23622,0070B_39_HARDING_13,0070B,39,1281,"""Willard City, Willard Precinct""",BOX ELDER,23,25,HARDING,JOSEPH,A,1,m,13.0,0,son,s,n,CLERK IN STORE,13.0,NaN,n,n,n,n,n,y,n,n,UTAH,MISSOURI,ILLINOIS
191,0122A_23_BATT_22,0122A,23,2048,Logan City,CACHE,38,41,BATT,MARTHA,NaN,1,f,22.0,0,servant,s,n,SERVANT,13.0,NaN,n,n,n,n,n,n,n,n,UTAH,WALES,WALES
102848,0415A_39_CHRISTENSEN_41,0415A,39,16640,"""Manti City, Manti Precinct""",SANPETE,153,159,CHRISTENSEN,JENS,P,1,m,41.0,0,NaN,m,n,FARM LABORER,13.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
9593,0218D_3_CHRISTOFFERSEN_18,0218D,3,3072,Hyde Park,CACHE,9066,66,CHRISTOFFERSEN,PETER,NaN,1,m,18.0,0,NaN,s,n,WORKS IN CANYON,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
78306,0285D_21_NICKLE_60,0285D,21,14848,Granite Precinct,SALT LAKE,34,34,NICKLE,DAVID,NaN,1,m,60.0,0,NaN,m,n,LABORER,10.0,NaN,n,n,n,n,n,n,y,y,SCOTLAND,SCOTLAND,SCOTLAND
80204,0306C_3_ASTILL_16,0306C,3,15105,West Jordan Precinct,SALT LAKE,118,118,ASTILL,ELIZABETH,NaN,1,f,16.0,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
9122,0213D_3_PETERSON_49,0213D,3,3072,Smithfield,CACHE,9192,192,PETERSON,JOHANNA,NaN,1,f,49.0,0,wife,m,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
49859,0507A_4_WELLS_18,0507A,4,17920,Joseph Precinct,SEVIER,163,170,WELLS,THOMAS,NaN,1,m,18.0,0,son,s,n,FARM LABORER,13.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND

**observations and questions**

-what is the 'household' cateogry counting? is it amount of people in household or did they assign numbers to each household?

-same question with the 'family' category. these two seem to only ever be a few numbers off from each other

-contains questions about parents' birthplace

-contains questions about 'disabilities' like insantiy 

-contains information on education level

-'birthmonth' and 'race' fields are stored as integers?

In [67]:
utah_df = utah_df.rename(columns={'birthstate' : 'birthplace'})

In [69]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

In [71]:
def replace_married(some_string):
    if some_string=='m' :
        return 'married'
    elif some_string=='s' :
        return 'single'
    elif some_string=='w' :
        return 'widowed'

In [73]:
utah_df["marrystatus"].apply(replace_married)

0         married
1         married
2         married
3         married
4          single
           ...
142706       None
142707       None
142708    widowed
142709     single
142710     single
Name: marrystatus, Length: 142711, dtype: object

In [86]:
utah_df['marrystatus']=utah_df["marrystatus"].apply(replace_married)

In [88]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,married,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,married,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,widowed,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,single,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH